* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font: 100%/1em georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 100%;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.75rem;
  color: #666;
  margin-bottom: 1rem;
}

p,
a {
  font-family: 'Fira Code';
  font-size: 1rem;
}

/* p, */
pre,
code,
code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Fira Code';
  font-size: 0.75rem;
}
